![logo itq](img/itqlogo.jpeg)

## Tercer Módulo-Python, Tipos de datos - Data Types

![logo_python](img/pythonlogo.jpeg)

*Gabriel Culqui*

## Comentarios

### ¿Qué son?

Texto contenido en ficheros de Python que es ignorado por el intérprete es decir no es ejecutado

## ¿Cuál es su utilidad?

* Se puede utilizar para documentar código y hacerlo más legible

* Preferiblemente trataremos de hacer código fácil de entender y que necesite pocos comentarios, en lugar de vernos forzados a recurrir a los comentarios para explicar el código.

### Tipos de comentarios
**Comentarios de una línea**

* Texto precedido por el signo #
* Luego le decimos se suele usar para documentar expresiones sencillas

In [3]:
# Esto es una instrucción print
print("Hola mundo") #Esto es una instrucción

Hola mundo

**Comentarios de varias líneas**
* Texto encapsulado en triple comillas (que pueden ser simples como dobles)
* Se suele usar para documentar bloques de código más significativos

In [11]:
# Creo una función de multiplicación
def producto(x,y): 
    '''
    Esta función recibe dos números x e y como parámetros y devuelve como resultado el producto de los mismos
    '''
    # Creo una variable donde guardo el producto de los números recibidos
    c=x*y
    return c

In [21]:
# Llamo a la función
producto(3,7)

21

# Literales, variables y tipos de datos básicos

De forma muy genérica al ejecutarse un program en Python simplemente se realizan dos cosas se realizan operaciones sobre objetos

Estos dos términos son fundamentales

* *Objetos*: cualquier tipo de datos que sean (numéricos, caracteres o datos más complejos)
* *Operaciones*: como manipulamos esos datos. +,-,*,/

Ejemplo:

In [22]:
4*3

12

## 2.1 Literales

* Pytohon tiene una serie de tipos de datos integrados en el propio lenguaje
* Los literales son expresiones que generan objetos de estos tipos
* Estos objetos, según sus tipos pueden ser:
    * Simples o compuestos
    * Mutables e inmutables

### Literales simples
- Enteros
- Decimales o puntos flotantes
- Booleanos

In [26]:
print(4) # Número entero
print(4.3) # Número en punto flotante
print('Hello world') # Objeto de tipo string
print(False) # Objeto de tipo booleano, puede ser solo falso o verdadero (True/False)

4
4.3
Hello world
False

### Literales compuestos
* Tuplas
* Listas
* Diccionarios
* Conjuntos

In [16]:
print ([1,2,3,3,7]) #Lista - mutable
print ({'Nombre' : 'John Doe', "edad": 30, "soltero":True}) #diccionario - mutable
print ({1,2,3,3}) #conjunto de datos - mutable (sin datos repetidos)
print ((4,5)) #tupla - inmutable (no se puede cambiar para nada)
2,4 #Tupla - inmutable (otra forma de crear)

[1, 2, 3, 3, 7]
{'Nombre': 'John Doe', 'edad': 30, 'soltero': True}
{1, 2, 3}
(4, 5)

(2, 4)

## 2.2 Variables
* Referencias a objetos
* Las variables y los objetos se almacenan en espacios de memoria distinta
* Las variables siempre referencian a objetos y nunca a otras variables
* Los objetos sí pueden referenciar a otros objetos. Ejemplos: listas
* Sentencia de asignación:

<"nombre_variable"> '=' <"objeto">

In [7]:
# Asignación de variables
a=5
print (a)

5

In [17]:
a = 1 # Entero
b = 4.0 # Flotante
c = "ITQ" # String
d = 10+1j # Complejo
e = False # Booleano
f = None # None

#Imprimir variables y ver su tipo
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
False
<class 'bool'>
None
<class 'NoneType'>

* Las variables no tienen tipo
* Las variables apuntan a objetos que sí lo tienen
* Dado que Python es un lenguaje de tipado dinámico la misma variable puede apuntar, em momentos diferentes de la ejecución del programa, a objetos de diferente tipo

In [15]:
a = 3
print (a)
print(type(a))

a=100
print (a)
print(type(a))

a="Pablo"
print (a)
print(type(a))

a=4.5
print (a)
print(type(a))

3
<class 'int'>
100
<class 'int'>
Pablo
<class 'str'>
4.5
<class 'float'>

* Esto se llama garbage colection, es justamente la eliminación progresiva de los espacios de memoria que un objeto ocupa.

## Identificadores
* Podemos obtener un identificador único para los objetos referenciados por variables.
* Este identificador se obtiene a partir de la dirección de memoria.

In [18]:
a=3
print (id(a))

a= "Pablo García"
print(id(a))

a=4.5
print(id(a))

140712443683816
2018722456768
2018711782544

* Referencias compartidas: un mismo objeto puede ser referenciado por más de una variable

 - Variables que referencian al mismo objeto tienen mismo identificador.

In [20]:
a=4567
print(id(a))

2018722622064

In [21]:
b=a
print(id(b))

2018722622064

In [23]:
c=4567
print(id(c)) #se guarda en un espacio diferente es otro objeto

2018722623088

In [24]:
a=25
b=25

print(id(a))
print(id(b))
print(id(25))

140712443684520
140712443684520
140712443684520

In [26]:
#Los números grandes [-5,256] fuera del rango 0-255 
#van a abrir un nuevo ciclo de cuenta internamente, nunca tendrán un mismo identificador
a=258
b=258

print(id(a))
print(id(b))
print(id(258))

2018722622064
2018722624208
2018722624752

* Referencia al mismo objeo a través de asignar una variable a otra

In [27]:
a=400
b=a
print(id(a))
print(id(b))

2018722623888
2018722623888

* las variables pueden aparecer en expresiones

In [28]:
a=3
b=5
print(id(a))
print (a+b)

140712443683816
8

In [29]:
c=a+b
print(c)
print(id(c))

8
140712443683976

### Nombres de las variables
* No se aceptan números delante del nombre de las variables
* Por convención usar el SnakeCase y no el CamelCase, es decir usar "_" para los espacios entre palabras en el nombre de la variable
* Tener cuidado, el lenguaje identifica mayúsculas y minúsculas
* Nombres deben ser descriptivos
* Hay palabras o métodos reservados -> se denominan Built-ins y KeyWords
  * NO ASIGNAR NOMBRES RESERVADOS

In [31]:
print(pow(3,2)) #Potencia

9

In [33]:
print(pow(3,2))

pow=1 #built-in con valor reasignado
print(pow(3,2))

#El lenguaje no comprende que hacer con la reasignación

TypeError: 'int' object is not callable

In [35]:
#Redefine pow como una nueva función
def pow(a,b):
    return a+b

print(pow(3,2))

5

### Asignación múltiple de variables

In [36]:
x,y,z = 1,2,3
print(x,y,z)

t = x,y,z,7,"Python"
print(t)
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

* Esta técnica tiene un uso interesante: el intercambio de valores entre variables

In [38]:
a=1
b=2
a,b =b,a

print(a,b)

2 1

In [40]:
a=1
b=2

c=a
a=b
b=c
print(a,b,c)
#existe un intercambio en secuencia

2 1 1

## 2.3 Tipos de datos básicos

### Bool

* Tiene 2 posibles valores: 'True' o 'False'

In [42]:
a=False
b=True

print(a)
print(type(a))

print(b)
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

* "True" y "False" también son objetos que se guardan en caché, al igual que los enteros pequeños

In [43]:
a=True
b=False

print(id(a))
print(id(b))
print(a is b)
print(a == b)

140712442771936
140712442771968
False
False

### Números

In [44]:
print(2) #Enteros, sin parte fraccional
print(3.4) #Flotantes, con parte fraccional
print(2+4j) #Complejos
print(1/2) #Racionales

2
3.4
(2+4j)
0.5

* Diferentes representaciones: base 10,2,8,16

In [46]:
x = 58 #decimal
z = 0b00111010 #binario
w = 0o72 #octal
y = 0x3A #hexadecimal
print(x == y == z == w)

#Todos representan el mismo número

True

### Strings

* Cadenas de caracteres
* Son secuencias: la posición de los caracteres es importantes.
* Son inmutables: las operaciones sobre strings no cambian el string original.

In [4]:
s = 'John "ee" Doe'

print (s[0]) # Primer caracter del string
print (s[-1]) # Último caracter del string
print (s[1:8:2]) #Substring desde el segundo caracter (inclusive) (último valor excluyente)
print (s[::2]) #Todo el string
print (s + "e") # Concatenación

J
e
on"e
Jh e"De
John "ee" Doee

## 2.4 Conversión entre tipos

* A  veces queremos que un objeto sea de un tipo específico
* Podemos obtenerobjetos de un tipo a partir de objetos de un tipo diferente (*casting*).

In [15]:
a = int(2.8) # a será 2
print(a)
print(type(a))

b = int(3) # b será 3
print(b)
print(type(b))

c = float(1) # c será 1.0
print(c)
print(type(c))

d = float("3") # d será 3.0
print(d)
print(type(d))

e = str(2) # e será 2
print(e)
print(type(e))

f = str(3.0) # f será '3.0'
print(f)
print(type(f))

g = bool("a") # g será True
print(g)
print(type(g))

h = bool("") # h será False
print(h)
print(type(h))

i = bool(3) # i será True
print(i)
print(type(i))

j = bool(0) # j será False
print(j)
print(type(j))

k = bool(None) # k será False
print(k)
print(type(k))

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>

In [16]:
print (7/4) #División convencional, resultado tipo float
print (7//4) # División entera. Resultado tipo "int"
print (int(7/4)) # División convencional. Conversión de float a int

1.75
1
1

## 2.5 Operadores 
* Combinación de valores, variables y operadores
* Operadores y operandos

#### Operadores aritméticos
| Operador | Desc |
|:---------|:-----|
| a + b    | Suma |
| a - b    | Resta |
| a / b    | División |
| a // b   | División Entera |
| a % b    | Modulo / Resto |
| a * b    | Multiplicacion |
| a ** b   | Exponenciación |

In [18]:
x = 3
y = 2

print('x+y = ',x+y)
print('x-y = ',x-y)
print('x*y = ',x*y)
print('x/y = ',x/y)
print('x//y = ',x//y)
print('x%y = ',x%y)
print('x**y = ',x**y)

x+y =  5
x-y =  1
x*y =  6
x/y =  1.5
x//y =  1
x%y =  1
x**y =  9

#### Operadores de comparación
| Operador | Desc |
|:---------|:-----|
| a > b    | Mayor |
| a < b    | Menor |
| a == b    | Igual |
| a != b   | Diferente |
| a >= b    | Mayor o igual |
| a <= b    | Menor o igual |

In [20]:
x = 26
y = 24
print('x>y es ', x>y)
print('x<y es ', x<y)
print('x==y es ', x==y)
print('x!=y es ', x!=y)
print('x>=y es ', x>=y)
print('x<=y es ', x<=y)

x = 10
y = 10
print('x>y es ', x>y)
print('x<y es ', x<y)
print('x==y es ', x==y)
print('x!=y es ', x!=y)
print('x>=y es ', x>=y)
print('x<=y es ', x<=y)

x>y es  True
x<y es  False
x==y es  False
x!=y es  True
x>=y es  True
x<=y es  False
x>y es  False
x<y es  False
x==y es  True
x!=y es  False
x>=y es  True
x<=y es  True

#### Operadores Lógicos

| Operador | Desc |
|:---------|:-----|
| a and b    | True, si ambos son True |
| a or b    | True, si al menos uno es True |
| a ^ b    | XOR - True, si solo uno de los dos es True |
| a not b   | Negación |

Más sobre tablas de verdad => [enlace](https://en.wikipedia.org/wiki/Truth_table)

In [22]:
x=True
y=False
print('x and y es :', x and y)
print('x or y es :', x or y)
print('x xor y es :', x ^ y)
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

#### Operadores Bitwise / Binarios
| Operador | Desc |
|:---------|:-----|
| a & b    | AND binario |
| a | b    | OR binario |
| a ^ b    | XOR binario |
| -a  | NOT binario |
| a >> b  | Desplazamiento binario derecha |
| a << b  | Desplazamiento binario izquierda |

In [25]:
x = 0b01100110
y = 0b00110011
print("Not x = " + bin(~x))
print("x and y = " + bin(x & y))
print("x or y = " + bin(x | y))
print("x xor y = " + bin(x ^ y))
print("x << 2 = " + bin(x << 2))
print("x >> 2 = " + bin(x >> 2))

Not x = -0b1100111
x and y = 0b100010
x or y = 0b1110111
x xor y = 0b1010101
x << 2 = 0b110011000
x >> 2 = 0b11001

#### Operadores de asignación
| Operador | Desc |
|:---------|:-----|
| =    | Asignación |
| +=    | Suma y asignación |
| -=   | Resta y asignación |
| *=  | Multiplicación y asignación |
| /=  | División y asignación |
| %=    | Módulo y asignación|
| //=  | División entera y asignación |
| **=  | Exponencial y asignación |
| &=  | AND y asignación |
| =  | OR y asignación |
| ^=  | XOR y asignación |
| >>=  | Desplazamiento derecha y asignación |
| <<=  | Desplazamiento izquierda y asignación |

In [28]:
a = 8
a *= 5 # a = a * 5
a += 2 # No existe a++, ni ++a,a--,--a
print(a)
b = 10
b -= 5 # b = b - 
print(b)

42
5

#### Operadores de Identidad
| Operador | Desc |
|:---------|:-----|
| a is b    | True si los dos referencian al mismo objeto |
| a is not b   | True si ambos no referencian al mismo objeto |

In [31]:
a=123
b=a
print(a is b)
print(a is not b)

a=500
b=500
print(a is b)
print(a is not b)

True
False
False
True

#### Operadores de Pertenencia
| Operador | Desc |
|:---------|:-----|
| a in b    | True si a se encuentra en b |
| a not in b   | True si a no se encuentra en b |

In [34]:
x = "Hello world"
y = {1:'a',2:'b'}
print('l' in x) #True
print("Hello" not in x) #True
print(1 in y) # True
print('a' in y) # False

True
False
True
False

## 2.6 Entrada de valores

In [35]:
valor=input("Ingrese valor:")
print(valor)
print(type(valor))

Ingrese valor: 5

5
<class 'str'>

In [37]:
grados = int(input("Conversión de grados centígrados a fahrenheit, ingrese un valor: "))
print(f"Grados F: {1.8 * (grados) + 32}")

Conversión de grados centígrados a fahrenheit, ingrese un valor:  10

Grados F: 50.0

## DEBER
## EJERCICIO 1
Elaborar un programa que permita calcular el volumen de un cilindro solicitando al usuario que ingrese los valores por teclado, radio y altura del cilindro. El resultado debe mostrarse en pantalla, no se debe utilizar condicionales ni funciones matemáticas, solo operaciones aritméticas básicas y lectura de datos por teclado. Fórmula del volumen: $$V = pi * radio^2 * altura $$

r = radio
h = altura

In [42]:
#Solución
rad = int(input("Ingrese radio en cm: "))
print(f"El valor ingresado es {rad}")
alt = int(input("Ingrese altura en cm: "))
print(f"El valor ingresado es {alt}")
print("El valor de PI es 3.1416")
print(f"El volumen del cilindro en cm3 es: {3.1416*(rad**2)*alt}")

Ingrese radio en cm:  5

El valor ingresado es 5

Ingrese altura en cm:  10

El valor ingresado es 10
El valor de PI es 3.1416
El volumen del cilindro en cm3 es: 785.3999999999999

## DEBER
## EJERCICIO 2

Elaborar un programa que permita convertir una distancia medida en metros a centímetros y kilómetros. El usuario debe ingresar el valor en metros y el programa debe mostrar las 3 equivalencias correspondientes. No se debe usar condicionales ni funciones matemáticas propias de Python, únicamente operaciones aritméticas básicas.

In [49]:
#Solución
print("Convertidor de distancias")
mt = int(input("Ingrese su distancia en METROS: "))
print(f"La distancia ingresada en metros es {mt}")
print(f"La distancia en KILOMETROS ES: {mt/1000}")
print(f"La distancia en CENTÍMETROS ES: {mt*1000}")

Convertidor de distancias

Ingrese su distancia en METROS:  50

La distancia ingresada en metros es 50
La distancia en KILOMETROS ES: 0.05
La distancia en CENTÍMETROS ES: 50000

 # 3 Tipos de datos compuestos (colecciones)

 ## 3.1 Listas
* Una colección de objetos.
* Mutables.
* Tipos arbitrarios heterogeneos.
* Puede contener duplicados.
* No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.
* Los elementos van ordenados por posición.
* Se acceden usando la sintaxis: [index].
* Los índices van de 0 a n-1, donde n es el número de elementos de la lista.
* Son un tipo de Secuencia, al igual que los strings; por lo tanto, el orden (es decir, la posición de los objetos de la lista) es importante.
* Soportan anidamiento.
* Son una implementación del tipo abstracto de datos: Array Dinámico.

In [50]:
letras = ['a', 'b', 'c', 'd']
palabras = 'Hola mundo como estas'.split()
numeros = list(range(7))
print(letras)
print(palabras)
print(numeros)
print(type(numeros))

['a', 'b', 'c', 'd']
['Hola', 'mundo', 'como', 'estas']
[0, 1, 2, 3, 4, 5, 6]
<class 'list'>

In [51]:
# # Pueden contener elementos arbitrarios / heterogeneos
mezcla = [1, 3.4, 'a', None, False]
print(mezcla)
print(len(mezcla)) # len me da el tamaño de la lista número de elementos

[1, 3.4, 'a', None, False]
5

In [52]:
# # Pueden incluso contener objetos más "complejos"
lista_con_funcion = [1, 2, len, pow]
print(lista_con_funcion)

[1, 2, <built-in function len>, <built-in function pow>]

In [53]:
# # Pueden contener duplicados
lista_con_duplicados = [1, 2, 3, 3, 3, 4]
print(lista_con_duplicados)

[1, 2, 3, 3, 3, 4]

* Longitud de una lista

In [54]:
letras = ['a', 'b', 'c', 'd', 1]
print(len(letras))

#Función len para longitud

5

* Acceder a un objeto de la lista

In [55]:
print(letras[2])
print(letras[-5])
print(letras[0])

c
a
a

* **Slicing** nos da una parte la lista

In [58]:
letras = ['a', 'b', 'c', 'd', 'e']
print(letras[1:3])
print(letras[:3])
print(letras[:-1])
print(letras[2:])
print(letras[:])
print(letras[::2])
print(letras[::3])

['b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']
['a', 'd']

In [59]:
letras = ['a', 'b', 'c', 'd']

print(letras)
print(id(letras))

a = letras[:]

print(a)
print(id(a))
print(letras.copy())
print(id(letras.copy()))

['a', 'b', 'c', 'd']
3000914815040
['a', 'b', 'c', 'd']
3000914819200
['a', 'b', 'c', 'd']
3000914811584

**Añadir elemento a la lista, al final con la función *apppend***

In [60]:
letras.append('e')
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e']
3000914815040

* Se puede usar +=

In [62]:
letras += 'e'
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e', 'e', 'e']
3000914815040

**Insertar en posición con *insert***

In [63]:
print(len(letras))
letras.insert(1,'g')
print(len(letras))
print(letras)
print(id(letras))

7
8
['a', 'g', 'b', 'c', 'd', 'e', 'e', 'e']
3000914815040

**Modificación de la lista (reemplazo)**

In [64]:
letras[5] = 'f'
print(letras)
print(id(letras))

['a', 'g', 'b', 'c', 'd', 'f', 'e', 'e']
3000914815040

In [65]:
# # index tiene que estar en rango, si está fuera reporta error
letras[20] = 'r'

IndexError: list assignment index out of range

**Modificación múltiple usando *slicing***

In [68]:
letras = ['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k']
print(id(letras))

3000914094976

In [71]:
letras[0:7:2] = ['z', 'x', 'y','p']
print(letras)
print(id(letras))

letras[::2] = ['z', 'x', 'y','p']
print(letras)
print(id(letras))

['z', 'b', 'x', 'f', 'y', 'h', 'p', 'j', 'k']
3000914094976

ValueError: attempt to assign sequence of size 4 to extended slice of size 5

In [73]:
# # Ojo con la diferencia entre modificación individual y múltiple. Asignación individual de lista crea anidamiento.
numeros = [10, 20, 30]
numeros[1] = [50, 60, 70]

print(numeros)
print(numeros[1][0])


numeros[1][2] = [100, 200]
print(numeros)

print(numeros[1][2][1])

print(numeros[1][2][2]) #ERROR FUERA DE RANGO

[10, [50, 60, 70], 30]
50
[10, [50, 60, [100, 200]], 30]
200

IndexError: list index out of range

**Eliminar elemento con *remove***

In [85]:
print(letras)

# letras.remove('f')


if 'p' in letras:
    # letras.remove('p')
    letras.remove('z')
print(letras)

['z', 'b', 'x', 'y', 'h', 'j', 'k']
['z', 'b', 'x', 'y', 'h', 'j', 'k']

**Eliminar elemento del final de la lista con *pop***

In [88]:
# elimina el elemento en posición -1 y lo devuelve
elemento = letras.pop()
print(elemento)
print(letras)

letras.append(elemento)
print(letras)

j
['z', 'b', 'x', 'y', 'h']
['z', 'b', 'x', 'y', 'h', 'j']

In [90]:
numeros = [1, 2, 3]
print(numeros)
numeros[2] = [10, 20, 30]

print(numeros)
n = numeros[2].pop()
print(numeros)
print(n)

[1, 2, 3]
[1, 2, [10, 20, 30]]
[1, 2, [10, 20]]
30

In [93]:
lista_v=[] #Lista vacía
a=lista_v.pop()

IndexError: pop from empty list

**Encontrar índice de un elemento**

In [97]:
letras = ['a', 'b', 'c', 'c']
if 'c' in letras:
    print(letras.index('c'))
print(letras)

2
['a', 'b', 'c', 'c']

**Concatenar listas**

In [99]:
frutas = ["naraja", "manzana", "pera"]
abastos = ["arroz","azúcar", "cereal"]

mercado = frutas + abastos
print(mercado)

['naraja', 'manzana', 'pera', 'arroz', 'azúcar', 'cereal']

**Añadir lista a otra lista con *extend***

In [100]:
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.extend(['pera', 'uvas'])
print(frutas)
print(id(frutas))

3000914876160
['naranja', 'manzana', 'pera', 'uvas']
3000914876160

**Anidar sin crear nueva lista**

In [101]:
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.append(['pera', 'uvas']) #genera una sublista
print(frutas)
print(id(frutas))

3000913816448
['naranja', 'manzana', ['pera', 'uvas']]
3000913816448

**Replicar una lista**

In [106]:
lacteos = ['queso', 'leche']
print(lacteos * 3)
print(id(lacteos))
a = 3 * lacteos
print(a)
print(id(a))

['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
3000913587840
['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
3000914767680

**Copiar una lista**

In [107]:
frutas2 = frutas.copy()
frutas2 = frutas[:]
print(frutas2)
print('id frutas = ' + str(id(frutas)))
15
print('id frutas2 = ' + str(id(frutas2)))

['naranja', 'manzana', ['pera', 'uvas']]
id frutas = 3000913816448
id frutas2 = 3000913112384

**Ordenar una lista con *sort***

In [109]:
lista = [5,5,6,9,2,7,3,8,1]
print(lista)
lista.sort()
print(lista)
lista.sort(reverse=True) #Lista descendente, activar parámetro de reverse
print(lista)

[5, 5, 6, 9, 2, 7, 3, 8, 1]
[1, 2, 3, 5, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 5, 3, 2, 1]

In [112]:
#Los ordenamientos deben ser entre el mismo tipo de objeto

lista2= [1,2,"a","c",6]
lista2.sort ()

TypeError: '<' not supported between instances of 'str' and 'int'

**Ordenamiento de listas con objetos de clase str con *sorted***

In [113]:
compra = ['Huevos','Pan','zapallo','Leche','Licor']
print(sorted(compra))
print(compra)

['Huevos', 'Leche', 'Licor', 'Pan', 'zapallo']
['Huevos', 'Pan', 'zapallo', 'Leche', 'Licor']

**Ejercicio**: desarrollar un programa en el que el usuario ingrese su nombre completo, el año actual y el año de nacimiento,estos datos deben ser ingresados por teclado, calcular cuantos años tiene la persona, con el nombre

In [ ]:
nom = input("Ingrese su nombre")
anio1 = int(input ("Ingrese año actual"))
anio0 = int(input("Ingrese año de nacimiento"))
print(f"El sr/a {nom} es {anio1 - anio0} años")

**Pertenencia**

In [2]:
lista = [1,5,3,8,6]
print(1 in lista) # El 1 esta en lista
print(4 in lista) # El 4 no esta en lista

True
False

**Anidamiento**

In [8]:
letras = ['a', 'b', 'c', ['x', 'y', ['i', 'j', 'k']]]
print (letras[0])

print (letras[3][0])

print (letras[3][2][1])

print (letras[3])

a
x
j
['x', 'y', ['i', 'j', 'k']]

In [12]:
a = [1000,2,3]
b = a[:] #copia de la lista apunta a espacio de memoria distinto

print (id(a))
print (id(b))

print (id(a[0]))
print (id(b[0]))

2750960344192
2750960346496
2750960395184
2750960395184

### Alias/referencias de listas

* Son mutables y las asignaciones a un objeto alteran el primero
* Pasar listas a funciones puede ser riesgoso
* Clonar o copiar listas

In [15]:
lista = [5,10,15,20]
ref = lista
print(id(lista))
print(id(ref))

ref[2] =64

print((ref))
print((lista))

2750960351360
2750960351360
[5, 10, 64, 20]
[5, 10, 64, 20]

In [20]:
lista  = [2048, 1024, 512, 256]
copia = lista[:]
copia = lista.copy()

copia[2] = 64

print(lista)
print(copia)

print(id(lista))
print(id(copia))

[2048, 1024, 512, 256]
[2048, 1024, 64, 256]
2750960546752
2750960006208

In [21]:
#Listas anidadas, se copian por referencia

lista = [2, 4, 16, 32, [34, 10, [5,5]]]
copia = lista.copy()
copia[3] = 20
copia[4][0] = 28
print(copia)
print(lista)

[2, 4, 16, 20, [28, 10, [5, 5]]]
[2, 4, 16, 32, [28, 10, [5, 5]]]

In [31]:
lista = [0, 1, [10, 20]] #Crea lista
print(id(lista)) #Id de la lista
lista2 = [10, 20] #Crea nueva lista
lista = [0, 1, lista2] #Anida la lista
print(lista)
copia = lista[:] #.copy() # copia la lista
print(copia) #Imprime la lista
print(id(copia)) #Imprime ID de la lista
print(id(lista[2])) #Imprime el ID del objeto en posición 2 de la lista
print(id(copia[2])) #Imprime el ID del objeto en posición 2 de la copia
copia[2][0] = 40 #Reemplaza valores
print(copia)
print(lista)

2750960595328
[0, 1, [10, 20]]
[0, 1, [10, 20]]
2750960558080
2750959893568
2750959893568
[0, 1, [40, 20]]
[0, 1, [40, 20]]

In [35]:
# # evitar que listas anidadas se copien por referencia
import copy
lista = [2, 4, 16, 32, [34, 10, [5,5]]] # Crea lista
copia = copy.deepcopy(lista) #Copia lista con funcion deepcopy
copia[0] = 454 #Reemplaza valores
copia[4][2][0] = 64 #Reemplaza valores
print(lista)
print(copia)
print(f"{id(lista)} - {id(copia)}") # Imprime id en una misma línea
print(f"{id(lista[4])} - {id(copia[4])}") # Imprime id del objeto en una misma línea

[2, 4, 16, 32, [34, 10, [5, 5]]]
[454, 4, 16, 32, [34, 10, [64, 5]]]
2750960776000 - 2750960765120
2750960768512 - 2750960765952

## Diccionarios

* Colección de parejas (clave - valor)
*  Son mutables.
* Claves:
    * Cualquier objeto inmutable.
    * Sólo pueden aparecer una vez en el diccionario.
* Valores:
    * Sin restricciones. Cualquier objeto (enteros, strings, listas, etc.) puede hacer de valor.
*  Desde la versión 3.7 están ordenados.
*  Se pueden ver como listas indexadas por cualquier objeto inmutable, no necesariamente por
números enteros.
*  A diferencia de las listas, no son secuencias. Son mappings.

#### Operaciones con diccionarios

* Creación de diccionarios

In [37]:
# Creación simple, usando una expresión literal.
persona = {'CI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
print(persona)

{'CI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34}

In [38]:
# Unir colecciones
nombres = ['Pablo', 'Manolo', 'Pepe', 'Juan']
edades = [52, 14, 65]
datos = dict(zip(nombres,edades))
print(datos)
# No importa cuantos datos tengan los diccionarios, toma los datos en orden

{'Pablo': 52, 'Manolo': 14, 'Pepe': 65}

In [40]:
# Creación pasando claves y valores a la función 'dict'
persona2 = dict(nombre='Rosa', apellido='Garcia')
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [41]:
# Creación usando una lista de tuplas de dos elementos.
persona2 = dict([('nombre', 'Rosa'), ('apellido','Garcia')])
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [44]:
 # Creación incremental por medio de asignación (como las claves no existen, se crean nuevos items)
persona = {}
# print(persona['CI'])
persona['CI'] = '11111111D'
persona['Nombre'] = 'Carlos'
persona['Edad'] = 34
persona['CI'] = '222222222'
print(persona)

{'CI': '222222222', 'Nombre': 'Carlos', 'Edad': 34}

*  Acceso a un valor a través de la clave

In [47]:
persona = {'CI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34, 'Peso':34}
print(persona['Nombre'])

Carlos

In [46]:
 # Acceso a claves inexistentes o por índice produce error
# persona[1]
print(persona['Nombre'])

if 'Trabajo' in persona:

    print(persona['Trabajo'])

else:
    print("Desempleado")
    
persona.get('Trabajo', "En el paro") #obtiene valores

Carlos
Desempleado

'En el paro'

* Modificación de un valor a través de la clave

In [48]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
persona['Nombre'] = 'Fernando'
persona['Edad'] += 1
print(persona)

{'DNI': '11111111D', 'Nombre': 'Fernando', 'Edad': 35}

* Añadir un valor a través de la clave.

In [49]:
persona = {'CI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}
persona['Ciudad'] = 'Quito'
print(persona)

{'CI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34, 'Ciudad': 'Quito'}

* Eliminación de un valor a través de la clave

In [50]:
del persona['Ciudad'] # del elimina la clave
value = persona.pop('Edad') #pop elimina la clave en el valor final

print(persona)
print(value)

{'CI': '11111111D', 'Nombre': 'Carlos'}
34

* Comprobación de existencia de clave.

In [51]:
print('Nombre' in persona)
print('Apellido' in persona)

True
False

* Recuperación del valor de una clave, indicando valor por defecto en caso de ausencia.

In [52]:
persona = {'Nombre' : 'Carlos'}
value = persona.get('Nombre')
print(value)
# persona['Estatura']
value = persona.get('Estatura', 180)
print(value)

Carlos
180

* Anidamiento

In [54]:
persona = {
'Trabajos' : ['desarrollador', 'gestor'],
'Direccion' : {'Calle' : 'Pintor Guayasamin', 'Ciudad' : 'Quito'}
}
print(persona['Direccion'])
print(persona['Direccion']['Ciudad'])

{'Calle': 'Pintor Guayasamin', 'Ciudad': 'Quito'}
Quito

* Métodos items, keys y values.

In [56]:
persona = {'CI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34}

print(list(persona.items())) #items crea lista de tuplas clave-dato
print(list(persona.keys())) #keys crea lista de claves
print(list(persona.values())) #values crea lista con los valores de los datos

[('CI', '11111111D'), ('Nombre', 'Carlos'), ('Edad', 34)]
['CI', 'Nombre', 'Edad']
['11111111D', 'Carlos', 34]

In [58]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34}
# iterar sobre las claves
print('Claves\n')
for key in dict_simple.keys(): # o dict_simple (recorre todo el diccionario extrayendo las claves, una a la vez)
    print(key)

print('\nValores\n')
# iterar sobre los valores
for value in dict_simple.values():
    print(value)

Claves

ID
Nombre
Edad

Valores

XCSDe1194
Carlos
34

In [60]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34}
# iterar sobre ambos, directamente con items().
for key, value in dict_simple.items():
    print('Clave: ' + str(key) + ', valor: ' + str(value))
    
for item in dict_simple.items(): # devuelve tuplas
    print('Item: ' + str(item))
    
# usar zip para iterar sobre Clave-Valor
for key, value in zip(dict_simple.keys(),dict_simple.values()):
    print('Clave: ' + str(key) + ', valor: ' + str(value))

Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34
Item: ('ID', 'XCSDe1194')
Item: ('Nombre', 'Carlos')
Item: ('Edad', 34)
Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34

### Sets (Conjuntos)
Al igual que las listas:
* Colección de elementos.
* Tipos arbitrarios.
* Mutables.
* No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.

A diferencia de las listas:
* No puede tener duplicados.
* Se definen por medio de llaves.
* Los elementos no van ordenados por posición. No hay orden establecido.
* Solo pueden contener objetos inmutables.
* No soportan anidamiento.

Operaciones con conjuntos
* Creación de conjuntos.

In [61]:
set1 = {0, 1, 1, 2, 3, 4, 4}
print(set1)

set2 = {'user1', 12, 2}
print(set2)

set3 = set(range(7))
print(set3)

set4 = set([0, 1, 2, 3, 4, 0, 1])
print(set4)

{0, 1, 2, 3, 4}
{'user1', 2, 12}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4}

In [62]:
 #Observa la diferencia entre listas y conjuntos

s = 'aabbc'
print(list(s))
print(set(s)) # Elimina los duplicados

['a', 'a', 'b', 'b', 'c']
{'a', 'b', 'c'}

In [64]:
#Acceder por índice
set1 = {0, 1, 2}
print(set1[0])
# No se puede no hay indice en el conjunto de datos

TypeError: 'set' object is not subscriptable

**Unión, intersección y diferencia.**

In [66]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set2 = set([0, 1, 2, 3, 4, 42])
# union
print(set1 | set2)

# intersección
print(set1 & set2)

# diferencia
print(set1 - set2) #1-2
print(set2 - set1) #2-1

{0, 1, 2, 3, 4, 5, 8, 42, 13, 21}
{0, 1, 2, 3, 4}
{8, 13, 21, 5}
{42}

In [68]:
a = [1,2]
b = [2,3]
print(set(a) & set(b)) #intersección de conjuntos

{2}

In [71]:
#Además de los operadores, que operan únicamente con Sets, también se pueden usar métodos que pueden operar sobre cualquier objeto iterable.
conjunto = {0, 1, 2}
lista = [1, 3, 3]

print(conjunto.union(lista)) #Unión de conjuntos
print(conjunto.intersection(lista)) #Intersección de conjuntos
print(conjunto.difference(lista)) #Diferencia de conjuntos

{0, 1, 2, 3}
{1}
{0, 2}

**Comparación de conjuntos.**

In [77]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set2 = set([0, 1, 2, 3, 4])

print(set2.issubset(set1))
print(set1.issuperset(set2)) #Conjunto 1 es padre del 2
print(set1.isdisjoint(set2)) #True si los conjuntos no tienen elementos en común

True
True
False

**Pertenencia**

In [74]:
words = {'calm', 'balm'}
print('calm' in words)

True

**Anidamiento**

In [75]:
# Los conjuntos no soportan anidamiento, pero como permite elementos inmutables, se pueden "anidar" tuplas.
nested_set = {1, (1, 1, 1), 2, 3, (1,1,1)}
print(nested_set)

{1, 2, 3, (1, 1, 1)}

**Modificación de conjuntos**

In [81]:
# A través de operador de asignación
set1 = {'a', 'b', 'c'}
set2 = {'a', 'd'}
# set1 |= set2 # set1 = set1 | set2
# set1 &= set2
set1 -= set2
print(set1)

{'b', 'c'}

In [80]:
# A través de método 'update'.
set1 = {'a', 'b', 'c'}
set2 = {'a', 'd'}
# set1.update(set2)
# set1.intersection_update(set2)
set1.difference_update(set2)
print(set1)

{'b', 'c'}

In [82]:
# A través de métodos 'add' y 'remove'.
set1 = {'a', 'b', 'c'}
set1.add('d') # Adiciona
set1.remove('a') #Remueve
print(set1)

{'b', 'c', 'd'}