![logo itq](img/itqlogo.jpeg)

## Tercer Módulo-Python, Tipos de datos - Data Types

![logo_python](img/pythonlogo.jpeg)

*Gabriel Culqui*

## Comentarios

### ¿Qué son?

Texto contenido en ficheros de Python que es ignorado por el intérprete es decir no es ejecutado

## ¿Cuál es su utilidad?

* Se puede utilizar para documentar código y hacerlo más legible

* Preferiblemente trataremos de hacer código fácil de entender y que necesite pocos comentarios, en lugar de vernos forzados a recurrir a los comentarios para explicar el código.

### Tipos de comentarios
**Comentarios de una línea**

* Texto precedido por el signo #
* Luego le decimos se suele usar para documentar expresiones sencillas

In [3]:
# Esto es una instrucción print
print("Hola mundo") #Esto es una instrucción

Hola mundo

**Comentarios de varias líneas**
* Texto encapsulado en triple comillas (que pueden ser simples como dobles)
* Se suele usar para documentar bloques de código más significativos

In [11]:
# Creo una función de multiplicación
def producto(x,y): 
    '''
    Esta función recibe dos números x e y como parámetros y devuelve como resultado el producto de los mismos
    '''
    # Creo una variable donde guardo el producto de los números recibidos
    c=x*y
    return c

In [21]:
# Llamo a la función
producto(3,7)

21

# Literales, variables y tipos de datos básicos

De forma muy genérica al ejecutarse un program en Python simplemente se realizan dos cosas se realizan operaciones sobre objetos

Estos dos términos son fundamentales

* *Objetos*: cualquier tipo de datos que sean (numéricos, caracteres o datos más complejos)
* *Operaciones*: como manipulamos esos datos. +,-,*,/

Ejemplo:

In [22]:
4*3

12

## 2.1 Literales

* Pytohon tiene una serie de tipos de datos integrados en el propio lenguaje
* Los literales son expresiones que generan objetos de estos tipos
* Estos objetos, según sus tipos pueden ser:
    * Simples o compuestos
    * Mutables e inmutables

### Literales simples
- Enteros
- Decimales o puntos flotantes
- Booleanos

In [26]:
print(4) # Número entero
print(4.3) # Número en punto flotante
print('Hello world') # Objeto de tipo string
print(False) # Objeto de tipo booleano, puede ser solo falso o verdadero (True/False)

4
4.3
Hello world
False

### Literales compuestos
* Tuplas
* Listas
* Diccionarios
* Conjuntos

In [16]:
print ([1,2,3,3,7]) #Lista - mutable
print ({'Nombre' : 'John Doe', "edad": 30, "soltero":True}) #diccionario - mutable
print ({1,2,3,3}) #conjunto de datos - mutable (sin datos repetidos)
print ((4,5)) #tupla - inmutable (no se puede cambiar para nada)
2,4 #Tupla - inmutable (otra forma de crear)

[1, 2, 3, 3, 7]
{'Nombre': 'John Doe', 'edad': 30, 'soltero': True}
{1, 2, 3}
(4, 5)

(2, 4)

## 2.2 Variables
* Referencias a objetos
* Las variables y los objetos se almacenan en espacios de memoria distinta
* Las variables siempre referencian a objetos y nunca a otras variables
* Los objetos sí pueden referenciar a otros objetos. Ejemplos: listas
* Sentencia de asignación:

<"nombre_variable"> '=' <"objeto">

In [7]:
# Asignación de variables
a=5
print (a)

5

In [17]:
a = 1 # Entero
b = 4.0 # Flotante
c = "ITQ" # String
d = 10+1j # Complejo
e = False # Booleano
f = None # None

#Imprimir variables y ver su tipo
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
False
<class 'bool'>
None
<class 'NoneType'>

* Las variables no tienen tipo
* Las variables apuntan a objetos que sí lo tienen
* Dado que Python es un lenguaje de tipado dinámico la misma variable puede apuntar, em momentos diferentes de la ejecución del programa, a objetos de diferente tipo

In [15]:
a = 3
print (a)
print(type(a))

a=100
print (a)
print(type(a))

a="Pablo"
print (a)
print(type(a))

a=4.5
print (a)
print(type(a))

3
<class 'int'>
100
<class 'int'>
Pablo
<class 'str'>
4.5
<class 'float'>

* Esto se llama garbage colection, es justamente la eliminación progresiva de los espacios de memoria que un objeto ocupa.

## Identificadores
* Podemos obtener un identificador único para los objetos referenciados por variables.
* Este identificador se obtiene a partir de la dirección de memoria.

In [18]:
a=3
print (id(a))

a= "Pablo García"
print(id(a))

a=4.5
print(id(a))

140712443683816
2018722456768
2018711782544

* Referencias compartidas: un mismo objeto puede ser referenciado por más de una variable

 - Variables que referencian al mismo objeto tienen mismo identificador.

In [20]:
a=4567
print(id(a))

2018722622064

In [21]:
b=a
print(id(b))

2018722622064

In [23]:
c=4567
print(id(c)) #se guarda en un espacio diferente es otro objeto

2018722623088

In [24]:
a=25
b=25

print(id(a))
print(id(b))
print(id(25))

140712443684520
140712443684520
140712443684520

In [26]:
#Los números grandes [-5,256] fuera del rango 0-255 
#van a abrir un nuevo ciclo de cuenta internamente, nunca tendrán un mismo identificador
a=258
b=258

print(id(a))
print(id(b))
print(id(258))

2018722622064
2018722624208
2018722624752

* Referencia al mismo objeo a través de asignar una variable a otra

In [27]:
a=400
b=a
print(id(a))
print(id(b))

2018722623888
2018722623888

* las variables pueden aparecer en expresiones

In [28]:
a=3
b=5
print(id(a))
print (a+b)

140712443683816
8

In [29]:
c=a+b
print(c)
print(id(c))

8
140712443683976

### Nombres de las variables
* No se aceptan números delante del nombre de las variables
* Por convención usar el SnakeCase y no el CamelCase, es decir usar "_" para los espacios entre palabras en el nombre de la variable
* Tener cuidado, el lenguaje identifica mayúsculas y minúsculas
* Nombres deben ser descriptivos
* Hay palabras o métodos reservados -> se denominan Built-ins y KeyWords
  * NO ASIGNAR NOMBRES RESERVADOS

In [31]:
print(pow(3,2)) #Potencia

9

In [33]:
print(pow(3,2))

pow=1 #built-in con valor reasignado
print(pow(3,2))

#El lenguaje no comprende que hacer con la reasignación

TypeError: 'int' object is not callable

In [35]:
#Redefine pow como una nueva función
def pow(a,b):
    return a+b

print(pow(3,2))

5

### Asignación múltiple de variables

In [36]:
x,y,z = 1,2,3
print(x,y,z)

t = x,y,z,7,"Python"
print(t)
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

* Esta técnica tiene un uso interesante: el intercambio de valores entre variables

In [38]:
a=1
b=2
a,b =b,a

print(a,b)

2 1

In [40]:
a=1
b=2

c=a
a=b
b=c
print(a,b,c)
#existe un intercambio en secuencia

2 1 1

## 2.3 Tipos de datos básicos

### Bool

* Tiene 2 posibles valores: 'True' o 'False'

In [42]:
a=False
b=True

print(a)
print(type(a))

print(b)
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

* "True" y "False" también son objetos que se guardan en caché, al igual que los enteros pequeños

In [43]:
a=True
b=False

print(id(a))
print(id(b))
print(a is b)
print(a == b)

140712442771936
140712442771968
False
False

### Números

In [44]:
print(2) #Enteros, sin parte fraccional
print(3.4) #Flotantes, con parte fraccional
print(2+4j) #Complejos
print(1/2) #Racionales

2
3.4
(2+4j)
0.5

* Diferentes representaciones: base 10,2,8,16

In [46]:
x = 58 #decimal
z = 0b00111010 #binario
w = 0o72 #octal
y = 0x3A #hexadecimal
print(x == y == z == w)

#Todos representan el mismo número

True

### Strings

* Cadenas de caracteres
* Son secuencias: la posición de los caracteres es importantes.
* Son inmutables: las operaciones sobre strings no cambian el string original.

In [4]:
s = 'John "ee" Doe'

print (s[0]) # Primer caracter del string
print (s[-1]) # Último caracter del string
print (s[1:8:2]) #Substring desde el segundo caracter (inclusive) (último valor excluyente)
print (s[::2]) #Todo el string
print (s + "e") # Concatenación

J
e
on"e
Jh e"De
John "ee" Doee

## 2.4 Conversión entre tipos

* A  veces queremos que un objeto sea de un tipo específico
* Podemos obtenerobjetos de un tipo a partir de objetos de un tipo diferente (*casting*).

In [15]:
a = int(2.8) # a será 2
print(a)
print(type(a))

b = int(3) # b será 3
print(b)
print(type(b))

c = float(1) # c será 1.0
print(c)
print(type(c))

d = float("3") # d será 3.0
print(d)
print(type(d))

e = str(2) # e será 2
print(e)
print(type(e))

f = str(3.0) # f será '3.0'
print(f)
print(type(f))

g = bool("a") # g será True
print(g)
print(type(g))

h = bool("") # h será False
print(h)
print(type(h))

i = bool(3) # i será True
print(i)
print(type(i))

j = bool(0) # j será False
print(j)
print(type(j))

k = bool(None) # k será False
print(k)
print(type(k))

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False
<class 'bool'>

In [16]:
print (7/4) #División convencional, resultado tipo float
print (7//4) # División entera. Resultado tipo "int"
print (int(7/4)) # División convencional. Conversión de float a int

1.75
1
1

## 2.5 Operadores 
* Combinación de valores, variables y operadores
* Operadores y operandos

#### Operadores aritméticos
| Operador | Desc |
|:---------|:-----|
| a + b    | Suma |
| a - b    | Resta |
| a / b    | División |
| a // b   | División Entera |
| a % b    | Modulo / Resto |
| a * b    | Multiplicacion |
| a ** b   | Exponenciación |

In [18]:
x = 3
y = 2

print('x+y = ',x+y)
print('x-y = ',x-y)
print('x*y = ',x*y)
print('x/y = ',x/y)
print('x//y = ',x//y)
print('x%y = ',x%y)
print('x**y = ',x**y)

x+y =  5
x-y =  1
x*y =  6
x/y =  1.5
x//y =  1
x%y =  1
x**y =  9

#### Operadores de comparación
| Operador | Desc |
|:---------|:-----|
| a > b    | Mayor |
| a < b    | Menor |
| a == b    | Igual |
| a != b   | Diferente |
| a >= b    | Mayor o igual |
| a <= b    | Menor o igual |

In [20]:
x = 26
y = 24
print('x>y es ', x>y)
print('x<y es ', x<y)
print('x==y es ', x==y)
print('x!=y es ', x!=y)
print('x>=y es ', x>=y)
print('x<=y es ', x<=y)

x = 10
y = 10
print('x>y es ', x>y)
print('x<y es ', x<y)
print('x==y es ', x==y)
print('x!=y es ', x!=y)
print('x>=y es ', x>=y)
print('x<=y es ', x<=y)

x>y es  True
x<y es  False
x==y es  False
x!=y es  True
x>=y es  True
x<=y es  False
x>y es  False
x<y es  False
x==y es  True
x!=y es  False
x>=y es  True
x<=y es  True

#### Operadores Lógicos

| Operador | Desc |
|:---------|:-----|
| a and b    | True, si ambos son True |
| a or b    | True, si al menos uno es True |
| a ^ b    | XOR - True, si solo uno de los dos es True |
| a not b   | Negación |

Más sobre tablas de verdad => [enlace](https://en.wikipedia.org/wiki/Truth_table)

In [22]:
x=True
y=False
print('x and y es :', x and y)
print('x or y es :', x or y)
print('x xor y es :', x ^ y)
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

#### Operadores Bitwise / Binarios
| Operador | Desc |
|:---------|:-----|
| a & b    | AND binario |
| a | b    | OR binario |
| a ^ b    | XOR binario |
| -a  | NOT binario |
| a >> b  | Desplazamiento binario derecha |
| a << b  | Desplazamiento binario izquierda |

In [25]:
x = 0b01100110
y = 0b00110011
print("Not x = " + bin(~x))
print("x and y = " + bin(x & y))
print("x or y = " + bin(x | y))
print("x xor y = " + bin(x ^ y))
print("x << 2 = " + bin(x << 2))
print("x >> 2 = " + bin(x >> 2))

Not x = -0b1100111
x and y = 0b100010
x or y = 0b1110111
x xor y = 0b1010101
x << 2 = 0b110011000
x >> 2 = 0b11001

#### Operadores de asignación
| Operador | Desc |
|:---------|:-----|
| =    | Asignación |
| +=    | Suma y asignación |
| -=   | Resta y asignación |
| *=  | Multiplicación y asignación |
| /=  | División y asignación |
| %=    | Módulo y asignación|
| //=  | División entera y asignación |
| **=  | Exponencial y asignación |
| &=  | AND y asignación |
| =  | OR y asignación |
| ^=  | XOR y asignación |
| >>=  | Desplazamiento derecha y asignación |
| <<=  | Desplazamiento izquierda y asignación |

In [28]:
a = 8
a *= 5 # a = a * 5
a += 2 # No existe a++, ni ++a,a--,--a
print(a)
b = 10
b -= 5 # b = b - 
print(b)

42
5

#### Operadores de Identidad
| Operador | Desc |
|:---------|:-----|
| a is b    | True si los dos referencian al mismo objeto |
| a is not b   | True si ambos no referencian al mismo objeto |

In [31]:
a=123
b=a
print(a is b)
print(a is not b)

a=500
b=500
print(a is b)
print(a is not b)

True
False
False
True

#### Operadores de Pertenencia
| Operador | Desc |
|:---------|:-----|
| a in b    | True si a se encuentra en b |
| a not in b   | True si a no se encuentra en b |

In [34]:
x = "Hello world"
y = {1:'a',2:'b'}
print('l' in x) #True
print("Hello" not in x) #True
print(1 in y) # True
print('a' in y) # False

True
False
True
False

## 2.6 Entrada de valores

In [35]:
valor=input("Ingrese valor:")
print(valor)
print(type(valor))

Ingrese valor: 5

5
<class 'str'>

In [37]:
grados = int(input("Conversión de grados centígrados a fahrenheit, ingrese un valor: "))
print(f"Grados F: {1.8 * (grados) + 32}")

Conversión de grados centígrados a fahrenheit, ingrese un valor:  10

Grados F: 50.0

## DEBER
## EJERCICIO 1
Elaborar un programa que permita calcular el volumen de un cilindro solicitando al usuario que ingrese los valores por teclado, radio y altura del cilindro. El resultado debe mostrarse en pantalla, no se debe utilizar condicionales ni funciones matemáticas, solo operaciones aritméticas básicas y lectura de datos por teclado. Fórmula del volumen: $$V = pi * radio^2 * altura $$

r = radio
h = altura

In [42]:
#Solución
rad = int(input("Ingrese radio en cm: "))
print(f"El valor ingresado es {rad}")
alt = int(input("Ingrese altura en cm: "))
print(f"El valor ingresado es {alt}")
print("El valor de PI es 3.1416")
print(f"El volumen del cilindro en cm3 es: {3.1416*(rad**2)*alt}")

Ingrese radio en cm:  5

El valor ingresado es 5

Ingrese altura en cm:  10

El valor ingresado es 10
El valor de PI es 3.1416
El volumen del cilindro en cm3 es: 785.3999999999999

## DEBER
## EJERCICIO 2

Elaborar un programa que permita convertir una distancia medida en metros a centímetros y kilómetros. El usuario debe ingresar el valor en metros y el programa debe mostrar las 3 equivalencias correspondientes. No se debe usar condicionales ni funciones matemáticas propias de Python, únicamente operaciones aritméticas básicas.

In [49]:
#Solución
print("Convertidor de distancias")
mt = int(input("Ingrese su distancia en METROS: "))
print(f"La distancia ingresada en metros es {mt}")
print(f"La distancia en KILOMETROS ES: {mt/1000}")
print(f"La distancia en CENTÍMETROS ES: {mt*1000}")

Convertidor de distancias

Ingrese su distancia en METROS:  50

La distancia ingresada en metros es 50
La distancia en KILOMETROS ES: 0.05
La distancia en CENTÍMETROS ES: 50000